html,
body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #f3ccf3, #86b6f6);
  overflow-y: auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition: filter 1s ease;
}

canvas {
  border: 1px solid black;
}
